@import "tailwindcss";

:root {
  --cfp-navy: #022753;
  --cfp-navy-dark: #011a3a;

  --cfp-red: #EA1C22;
  --cfp-blue: #3A62AA;
  --cfp-green: #58B746;

  --cfp-rouge: #EA1C22;
  --cfp-bleu: #3A62AA;
  --cfp-vert: #58B746;

  --cfp-cream: #FBF9F4;
  --cfp-bg: #F4F6F9;

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--cfp-bg);
  color: var(--foreground);
}

.carte-cfp {
  background-color: var(--cfp-cream);
}